<section class="loginSection">
      <div class="container">
        <div class="blurb col-xs-12 col-sm-6 col-lg-4 col-lg-offset-1">
          <h1 class="title">Project Seed</h1>
          <h3 class="subtitle">Connecting you to those who matter</h3>
          <p class="blurbText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, eius, quisquam, cumque perferendis ad aspernatur quam fugit asperiores exercitationem ipsam id unde expedita maiores sequi porro ratione rerum incidunt minus.</p>
          <button type="button" class="largeButton">Find out more</button>
        </div>
        <ul class="form loginForm col-xs-12 col-sm-6 col-lg-4 col-lg-offset-2 animated bounceInDown">
          <header>
            <h1 class="animated fadeIn delay10">Get Started</h1>
            <img class="animated fadeIn delay5" src="img/logo.svg" alt="Project Seed Logo">
          </header>
          <li>
            <span class="oi oi-envelope-closed" title="icon name" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please enter your email address"></span>
            <input id="temail" type="text" name="email" placeholder="Email Address">
          </li>
          <li>
            <span class="oi oi-lock-locked" title="icon name" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please enter your password"></span>
            <input id="pswd" type="password" name="password" placeholder="Password">
          </li>
          <li class="hide">
            <span class="oi oi-person" title="icon name" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please enter your family name"></span>
            <input id="firstName" type="text" name="firstName" placeholder="First Name">
          </li>
          <li class="hide">
            <span class="oi oi-people" title="icon name" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please enter your family name"></span>
            <input id="lastName" type="text" name="familyName" placeholder="Family Name">
          </li>
          <li>
            <span class="oi oi-bullhorn" data-toggle="tooltip" data-placement="right" title="Please read the agreement carefully"></span>
            <div class="fixedHeight">
            <h3>End-User License Agreement</h3>
            <h4>Agreement</h4>
            <a href="">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Fusce adipiscing augue erat, et aliquet dui pulvinar sit amet. Duis adipiscing egestas lobortis. Aliquam erat volutpat. Vivamus feugiat tortor ac nibh blandit, ac pulvinar turpis fermentum. 
            <h4>Terms</h4>
            Pellentesque in nunc vulputate, posuere lacus a, accumsan nibh. Aliquam rhoncus, felis id pulvinar molestie, enim ligula sollicitudin quam, in dapibus eros enim eget erat. Aenean enim felis, convallis sed dolor eget, gravida sollicitudin augue. In hac habitasse platea dictumst. Nam quis consequat leo. Etiam elementum iaculis ipsum, viverra facilisis magna commodo nec. 
            <h4>Bananas</h4>
            Vivamus tellus dolor, semper et mi sit amet, euismod molestie metus. Nulla quis pulvinar mi. Praesent luctus sapien quis mi sagittis, ut gravida lectus mollis. Suspendisse mattis enim metus, in placerat eros congue vitae.
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I agree to these lies above.
                </label>
              </div>
            </div> 
            
          </li>
          <footer class="actions">
            <a><span class="button leftButton hide cancel">cancel</span></a>
            <a><span class="button leftButton reg">register</span></a>
            <a><span class="button rightButton" id="acceptBtn">accept</span></a>
            <a><span class="button rightButton hide" id="registerBtn">accept</span></a>
          </footer>
          
        </ul>

      </div>
  </section>
  <section class="section2"></section>
  <section class="section3"></section>
  <section class="section4"></section>
  <section class="section5"></section>
  <footer>
    <div class="container">
      <ul class="col-xs-12 col-lg-10 col-lg-offset-1">
        <a href="#0"><li>About</li></a>
        <a href="#0"><li>Contact</li></a>
        <a href="#0"><li>Privacy</li></a>
        <a href="#0"><li>Terms and Conditions</li></a>
      </ul>
    </div>
  </footer>
